@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");

:root {
    /* Color styles */
    --blue-light: #1d5f6b;
    --blue-regular: #18515c;
    --blue-dark: #11373f;
    --coral-light: #f7645d;
    --primary: #1d5f6b;
    --white: #ffffff;
    --blue-gray: #b3c4c8;
}

html,
* {
    font-family: "Jost", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
}

h1 {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

h2 {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}