<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Emma Pierre's Jewelry Shop" />
    <meta name="keywords" content="Bijoux, Pierre précieuse, Jewelry" />
    <meta name="author" content="ESGI's Brahim, Cihan Jules and Kenza" />
    <link rel="icon" href="/assets/images/favicon_io/favicon.ico" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/components/navigation.js"></script>
    <script src="/components/navigation/footer.js"></script>
    <script src="/components/article.js"></script>
    <script src="/components/form/button.js"></script>
    <script src="/components/service-card.js"></script>
    <title>Emma Pierre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Playfair+Display:wght@700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&display=swap" rel="stylesheet" />
</head>

<body>
    <c-nav></c-nav>

    <header>
        <h1>
            Créatrice de bijoux
            <br />
            <span id="bleu">made</span>
            <span>in</span>
            <span id="rouge">France</span>
        </h1>
    </header>

    <div class="wrapper">
        <section class="news">
            <h2>Nouveautés <img src="/assets/images/star.png" alt="star" /></h2>

            <br>

            <div class="articles">
                
            </div>

            {# <div id="draw-wrapper" href="#">
                <a id="draw">
                    <svg width="126" height="43" viewBox="0 0 126 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M25.6413 3.01136C13.8586 3.01136 -4.95697 5.31499 2.83528 22.8995C6.53262 31.2432 23.544 33.7346 30.7975 35.6988C48.8734 40.5938 65.8689 42 84.5404 42C98.9039 42 132.443 39.1716 123.509 15.5153C119.401 4.63897 87.1145 1.91841 78.4919 1.43606C63.3183 0.587251 47.9817 1.23915 32.7806 1.23915"
                            stroke="#F7645D" stroke-width="2" stroke-linecap="round" />
                    </svg>

                    <span id="all" href="#">Voir tout</span>
                </a>
            </div> #}
        </section>

        <section class="moment">
            <h2>Article du moment</h2>
            <div class="spring">
                <img src="/assets/images/perles.png" alt="wouaf" />
                <div class="front-text">
                    <span>Le duo Printanier</span>
                    <a href="/month-product">Découvrir</a>
                </div>
            </div>
        </section>

        <section class="gift">
            <h2>Offrez un <span>sourire</span></h2>
            <div class="box">
                <h2>la main sur le cœur</h2>
                <span>Accueillez le printemps en offrant notre sélection. Il ne vous reste plus qu'à faire votre
                    choix !</span>
                <div class="gifts">
                    <img src="/assets/images/gift.png" alt="gift" />
                    <img src="/assets/images/gift2.png" alt="gift" />
                    <img src="/assets/images/gift3.png" alt="gift" />
                </div>
                <a href="#">Dire je t'aime avec Emma Pierre</a>
            </div>
        </section>

        <section class="plage">
            <span>Rencontrez nous à </span>
            <span>la plage</span>
            <img src="/assets/images/line.png" id="line" alt="line" />
            <div class="gallery">
                <img src="/assets/images/perle2.png" alt="perle" />
                <img src="/assets/images/perle3.png" alt="perle" />
                <img src="/assets/images/perle1.png" alt="perle" />
                <img src="/assets/images/achter.png" alt="perle" />
            </div>
        </section>

        <section class="reseaux">
            <h2>#EMMAPIERREJEWELS</h2>
            <span>Rejoignez-nous sur <u>Instagram</u> !</span>
            <div class="instagrams">
                <img src="/assets/images/photo-1.png" alt="insta" />
                <img src="/assets/images/photo-2.png" alt="insta" />
                <img src="/assets/images/photo-3.png" alt="insta" />
                <img src="/assets/images/photo-4.png" alt="insta" />
                <img src="/assets/images/photo-1.png" alt="insta" />
                <img src="/assets/images/photo-2.png" alt="insta" />
                <img src="/assets/images/photo-3.png" alt="insta" />
                <img src="/assets/images/photo-4.png" alt="insta" />
            </div>
        </section>
    </div>

    <section class="newsletter">
        <div class="ad">
            <img src="/assets/images/perle.png" alt="perle" />
            <h2>Deviens une perle rare</h2>
        </div>
        <div class="join">
            <h2>En rejoignant la communauté</h2>
            <div class="input">
                <label for="email">Inscrivez-vous à notre newsletter :</label>
                <input id="email" type="email" />
                <span>OK</span>
            </div>
            <div class="follow">
                <span>Suivez-nous : </span>
                <img src="/assets/images/instagram.png" alt="instagram" />
            </div>
        </div>
    </section>

    <div class="wrapper">
        <section class="services">
            <c-service-card>
                <img src="/assets/images/send.png" slot="icon" />
                <h3 slot="title">Livraison rapide</h3>
                <p slot="content">Expedition sous <strong>24h à 72h</strong> et livraison rapide</p>
            </c-service-card>
            <c-service-card>
                <img src="/assets/images/receive.png" slot="icon" />
                <h3 slot="title">Satisfait ou remboursé</h3>
                <p slot="content">Vous avez 15 jours pour changer d'avis</p>
            </c-service-card>
            <c-service-card>
                <img src="/assets/images/call.png" slot="icon" />
                <h3 slot="title">Service après-vente</h3>
                <p slot="content">
                    Besoin d'aide ? Nous vous répondons sous <strong>48h</strong> emmapierre@contact.fr
                </p>
            </c-service-card>
            <c-service-card>
                <img src="/assets/images/pay.png" slot="icon" />
                <h3 slot="title">Paiment sécurisé</h3>
                <p slot="content">Le site utilise le chiffrement SSL pour des paiements en toute sécurité</p>
            </c-service-card>
        </section>
    </div>

    <c-footer></c-footer>
</body>

<script>
    fetch('/api/products/last').then(res => res.json()).then(data => {
        console.table(data);
        const articles = document.querySelector('.articles');
        data.forEach(product => {
            const cArticle = document.createElement('c-article');
            cArticle.setAttribute('src', product.image);
            cArticle.innerHTML = `<span slot="title">${product.nom}</span><span slot="price">${product.prix}</span>`
            cArticle.setAttribute('href', '/products/' + product.id);

            articles.appendChild(cArticle);
        });

    });
</script>

</html>

<style>
    .wrapper {
        padding: 25px;
    }

    h2 {
        text-align: left;
        font-size: 30px;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    header {
        background: url("/assets/images/home_back.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position: relative;
    }

    header h1 {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        position: absolute;
        top: 40%;
        right: 40px;
        transform: translateY(-50%);
        color: #fff;
        line-height: 70px;
    }

    header span#bleu {
        color: #002395;
    }

    header span#blanc {
        color: #fff;
    }

    header span#rouge {
        color: #ed2939;
    }

    .news {
        width: 100%;
    }

    .news h2 {
        display: flex;
        gap: 2px;
    }

    .news h2 img {
        width: 23px;
        height: 23px;
        align-self: flex-end;
    }

    .news ul {
        display: flex;
        margin: 30px 0;
        padding: 0;
        gap: 20px;
    }

    .news ul h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }

    .articles {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
        margin: 0 auto;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    .articles:before {
        content: "";
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        height: 300px;
        background: url(/assets/images/line_red.png);
    }

    #draw-wrapper {
        display: flex;
        height: 200px;
        justify-content: center;
    }

    #draw {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 200px;
        height: 50px;
        cursor: pointer;
    }

    #draw svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    #draw:hover svg {
        fill: var(--coral-light);
    }

    #draw:hover span {
        color: #fff;
    }

    #draw svg path {
        transition: 0.3s;
    }

    #draw span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
    }

    .article {
        width: 100%;
        max-width: 300px;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    .moment {
        width: 100%;
        margin-top: 40px;
    }

    .spring {
        width: 100%;
        position: relative;
        margin-top: 10px;
        color: #fff;
    }

    .spring img {
        width: 100%;
        margin-bottom: 10px;
    }

    .front-text {
        max-width: 700px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Noto Serif Display", serif;
        font-weight: 600;
        display: flex;
        flex-direction: column;
    }

    .spring span, .spring a {
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Noto Serif Display", serif;
        font-weight: 600;
    }
    .spring a{
        text-decoration: none;
        color: #fff;
    }

    .spring a:nth-child(2) {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
    }

    .plage {
        width: 100%;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
    }

    .plage span {
        text-align: center;
        text-transform: uppercase;
        display: block;
    }

    .plage span:nth-child(1) {
        font-size: 30px;
        font-family: "Jost", sans-serif;
        font-weight: 300;
    }

    .plage span:nth-child(2) {
        font-size: 55px;
        font-family: "Noto Serif Display", serif;
        font-weight: 500;
    }

    #line {
        width: 280px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .gift {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 15px;
        background: url(/assets/images/bubbles.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .gift h2 {
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .gift h2 span {
        color: var(--coral-light);
    }

    .gift .box {
        max-width: 1100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1350px;
        margin: 0 auto;
        margin-bottom: 15px;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        position: relative;
        z-index: 1;
    }

    .gift .box:before {
        content: "";
        position: absolute;
        width: 93%;
        height: 93%;
        background: #fff;
        z-index: -1;
    }

    .gift .box:after {
        content: "";
        background: url("/assets/images/flowers.png");
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -2;
    }

    .gift .box h2 {
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 25px;
    }

    .gift .box span {
        max-width: 450px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 15px;
    }

    .gift .box .gifts {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .gift .box .gifts img {
        width: 250px;
    }

    .gift .box a {
        text-decoration: none;
        color: #fff;
        font-family: "Jost", sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 15px;
        background: var(--coral-light);
        padding: 12px 60px;
        border-radius: 5px;
    }

    .gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1350px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .gallery img {
        width: 452px;
    }

    .reseaux {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .reseaux h2 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .reseaux span {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .reseaux .instagrams {
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }

    .reseaux .instagrams img {
        display: inline-block;
        width: 300px;
        height: 300px;
        margin: 0 10px;
    }

    .newsletter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        background: rgba(247, 100, 93, 0.29);
        opacity: 0.71;
        padding: 30px;
    }

    .newsletter .ad {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newsletter .ad h2 {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 15px;
    }

    .newsletter .join {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .newsletter .input {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        justify-content: center;
    }

    .newsletter .join h2 {
        font-size: 22px;
        color: #000;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .newsletter .join label {
        flex: 2;
        text-align: right;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
    }

    .newsletter .join span {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }

    /* select the first span */
    .newsletter .join span:last-child {
        flex: 1;
        cursor: pointer;
    }

    .newsletter .join span:last-child:hover {
        color: #fff;
        transition: 0.2s ease-in-out;
    }

    .newsletter .join input:focus {
        outline: none;
    }

    .newsletter .join input {
        height: 50px;
        text-align: center;
        margin-bottom: 15px;
        background-color: rgba(247, 100, 93, 0);
        color: #fff;
        border: none;
        border-bottom: 1px solid #000;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 10px 30px;
        flex: 2;
    }

    .newsletter .follow {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .newsletter .follow h2 {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .newsletter .follow span {
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        cursor: default;
    }

    .newsletter .follow img {
        width: 30px;
        cursor: pointer;
    }

    .services {
        display: flex;
        justify-content: space-around;
        gap: 15px;
        align-items: center;
        margin: 55px 0;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 768px) {
        header {
            background-position: center;
        }

        header h1 {
            padding: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 400px;
            width: 500px;
            background: rgba(0, 0, 0, 0.2);
        }

        .news {
            display: flex;
            flex-direction: column;
        }

        .news h2 {
            margin-bottom: 10px;
            display: flex;
            gap: 2px;
        }

        .news ul {
            margin-bottom: 15px;
        }

        .news ul h3 {
            font-size: 16px;
        }

        .news h3:last-child {
            flex: 3;
        }

        .news .articles {
            justify-content: center;
        }

        .articles:before {
            display: none;
        }

        #all {
            margin: 0 auto;
        }

        .plage span:first-of-type {
            font-size: 25px;
        }

        .plage span:nth-child(2) {
            font-size: 30px;
        }

        .spring .front-text {
            max-width: 80%;
        }

        .spring .front-text span {
            font-size: 25px;
        }

        .spring .front-text span:last-child {
            font-size: 15px;
        }

        #line {
            width: 150px;
        }

        .gift {
            background: rgba(0, 0, 0, 0);
            max-width: 500px;
            align-items: center;
            text-align: center;
        }

        .gift .box {
            max-width: calc(100% - 30px);
        }

        .gifts {
            justify-content: center;
        }

        .gift .box .gifts img {
            width: 170px;
        }

        .gift .box h2 {
            font-size: 30px;
            text-align: center;
        }

        .gift .box a {
            font-size: 14px;
            text-align: center;
            padding: 6px;
        }

        .gallery img {
            width: 100%;
        }

        .newsletter {
            flex-direction: column;
        }

        .newsletter .ad {
            flex-direction: column;
        }

        .newsletter .ad h2 {
            line-height: 50px;
        }

        .newsletter .input {
            flex-direction: column;
        }

        .newsletter .join label {
            flex: 4;
        }
    }
</style>